@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #000000; /* */
    --white: #ffffff;
    --blue: #004996;
    --red: #e63027;
    --yellow: #ffd400;
    --neon-green: #00ff37;
    --cyan: #00ffff;
    --magenta: #ff00ff;

    /*new colours */
    --navy-blue: #041122;
    --green:  #259073;
    --light-green: #7FDA89;
    --cream-yellow: #E6F99D;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo img {
    height: 150px;
    width: 150px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    position: relative;
    right: 55px;
    bottom: 3px;
    color: var(--light-green);
}


body {
  
font-family: Arial, sans-serif;
margin:0 auto;
line-height:1.6;
background-color: var(--navy-blue);
color: var(--white);
}

header {
background-color: var(--navy-blue);
color:white;
padding:20px;
display: flex;
justify-content: space-between;
 font-family: "Barlow", sans-serif;
 background-color: var(--navy-blue);
}

nav {
display:flex;
justify-content:space-between;
align-items:center;
}

nav ul {
display:flex;
gap:20px;
list-style:none;
}

nav ul li a {
    color: white;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 20px;
    text-decoration: none;
}
nav ul li a:hover {
    color: var(--black);
    background-color: var(--light-green);
    font-size: 1.3rem;
}

.hero {

    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
padding:100px 20px;
text-align:center;
font-size: 1.8rem;
margin-bottom: 2rem;
background-color: var(--navy-blue);
}

.hero p {
    margin: 2rem;
}

.project-image-container img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}



.cta {
background: var(--light-green);
color: var(--navy-blue);
padding:10px 20px;
text-decoration:none;
border-radius: 15px;


}
.cta:hover {
background: rgb(186, 0, 0);




}





.services {
    padding: 3rem;
display:flex;
justify-content:space-around;
gap:30px;
font-size: 1.2rem;

margin: 0 auto;
}

.service h4 {
    color: var(--light-green);
    margin-bottom: 1.3rem;
    font-size: 1.6rem;
}

.price-card  {
    background-color: #000000;
}


.pricing {
text-align:center;
padding:60px;
display: flex;
margin: 0 auto;
justify-content: center;
align-items: center;
gap: 2rem;
}

.pricing h3 {
    font-size: 2rem;
}

.price-card {

padding: 1.5rem;
max-width:300px;
margin: 3rem auto;
border-radius: 20px;
background-color: var(--green);
}
.wedding-card {

padding: 1.5rem;
max-width:300px;
margin: 3rem auto;
border-radius: 20px;
background-color: var(--cream-yellow);
}
.business-card {
position: relative;
bottom: 5rem;
padding: 1.5rem;
max-width:300px;
margin: 3rem auto;
border-radius: 20px;
background-color: var(--light-green);
}

.price-card ul li {
    list-style-type: none;
}

.bg-card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 30px;
    color: var(--black);
    margin-bottom: 2rem;
}

.get-started {
    background-color: var(--light-green);
    padding: 1rem 2rem;
    color: var(--black);
    border-radius: 20px;
    text-decoration: none;
}

.get-started:hover {
    background: rgb(186, 0, 0);
}

.price {
font-size:32px;
font-weight:bold;
}

.message {
    text-align: center;
    margin: 4rem;
}


.about-section {
    text-align: center;
    padding: 6rem;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.5rem;
}

.about-section h2 {
    margin: 2rem;
}

.about-section ul li {
    list-style-type: none;
}
.about-section ol li {
    list-style-type: none;
}

.grid-container {
    max-width: 1200px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem auto;
}

.about-image img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}



footer {
    
text-align:center;
padding:3rem ;
background:var(--navy-blue);
color:white;
}